/*************/
/* CSS RESET */
/*************/

@font-face {
    font-family: 'early_gameboyregular';
    src: url("../fonts/3ada9815c06d2619d52d16a5601c96b2-webfont.woff2") format('woff2'),
         url("../fonts/3ada9815c06d2619d52d16a5601c96b2-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}




*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
}
button:not([disabled]) {
  cursor:pointer;
}
section {
    display: flex;
    flex-direction:row;
  }
article ul{
    background: rgb(39,23,98);
  background: linear-gradient(90deg, rgba(39,23,98,1) 22%, rgba(28,15,74,1) 54%, rgba(39,23,98,1) 87%);
    width: 6em;
    height:1em;
 border: 0.08em solid #a188ff;
box-shadow: 5% #0b0036;
}

    
article button{
    display: flex;
    padding-left: 1em;
    z-index: -2; 
    background-color: transparent;
    border:none;
    
    
    
}
article {
 z-index: -2;
}

article img:nth-of-type(4){
    
}



article:nth-of-type(1){
display: flex;
flex-direction: column;
position:absolute;
top: 10vh;
left: 1%;
}

img:nth-of-type(1){
display: flex;
flex-direction: column;
width:5em;
}

#toggle1 {
    animation: float 20s linear infinite;
}

@keyframes float{
    0% {transform:translate(-10vw, 0vh);}
    20% {transform:translate(20vw, 20vh);}
    40% {transform:translate(40vw, 15vh);}
    60% {transform:translate(60vw, 60vh);}
    80% {transform:translate(80vw, 45vh);}
    100% {transform: translate(100vw , 80vh);}
}





article:nth-of-type(2){
  display: flex;
  flex-direction: column;
  position:absolute;
  top: 25vh;
  left: 15%;
}
  
  img:nth-of-type(2){
  display: flex;
  flex-direction: column;
  width:5em;
      animation: none;
}

article:nth-of-type(3){
display: flex;
flex-direction: column;
position:absolute;
top: 60vh;
left: 33%;
}

article img:nth-of-type(3){
display: flex;
flex-direction: column;
width:5em;
}





article:nth-of-type(4){
display: flex;
flex-direction: column;
position:absolute;
top: 20vh;
left: 52%;
}


article img:nth-of-type(4){
display: flex;
flex-direction: column;
width:5em;
}



article:nth-of-type(5){
display: flex;
flex-direction: column;
position:absolute;
top: 80vh;
left: 70%;
 
}


article img:nth-of-type(5){
display: flex;
flex-direction: column;
width:5em;

}



header nav {
    display: flex;
    color:white;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
}

p{
padding-right: 0.5em;
padding-left:0.4em;
font-family: 'early_gameboyregular', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}

p:nth-of-type(3){ 
font-size: 3em;
margin-top:0.02em; 
}



FLASHLIGHT EFFECT

:root {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
}

:root:before {
  content:"";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  )
}





*/


/*
Eerste kind
    */

/*
.hover-switch > img:first-child{
  opacity:0;
}

.hover-switch > img:nth-child(2){
  opacity:1;
  transform: translateX(-100%);
}

.hover-switch:hover img:first-child{
  opacity:1;
}

.hover-switch:hover img:nth-child(2){
  opacity:0;
}
*/

/* 
 * Show the last image by default
*/
.hover-switch > img{
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.6s ease-in-out;
}
 
section audio{  
opacity: 10%;
display: flex;
position:absolute;
top: 40vh;
left: 80%;

}



.overlayOff1 {
position: absolute;
top:0px;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: red;
  margin: auto;
}

.overlayOn1 {
color: white;
 top:0px;
  left:0px;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: black;
  margin: auto;

}

.overlayOn p4{
    text-align: center;
    
    
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-text:white;
}

p {
  color: var(--color-text);
}

/*p kleur rood gemaakt als test niet vergeten aan te passen naar wit*/



/********************/
/* ALGEMENE STYLING */
/********************/


  

body {
  position: relative;
	display: grid;
	place-content: center;
	overflow: hidden;
  background-image: url("../images/ghosthouse.png")
}






/* Javascript */

#venster{
  width:50%;
  background-color:white;
  position: absolute;
  top:70%;
  left:50%;
  right:50%;
  transform: translateX(-50%);
  display:none;
  z-index: 10;
  padding: 2rem;
  border-radius:0.125rem;
  
}

.vensterAfbeelding{
  height:10em;
  padding-top: 2em;
}



#sluitVenster{
background-color: #a188ff;
color: black;
}
/* ... */


.blokje {
    background: rgb(39,23,98);
  background: linear-gradient(90deg, rgba(39,23,98,1) 22%, rgba(28,15,74,1) 54%, rgba(39,23,98,1) 87%);
    width: 10em;
    height:10em;
 border: 0.08em solid #a188ff;
box-shadow: 5% #0b0036;
}


  

  
