/*************/
/* CSS RESET */
/*************/

@font-face {
    font-family: 'early_gameboyregular';
    src: url("../fonts/3ada9815c06d2619d52d16a5601c96b2-webfont.woff2") format('woff2'),
         url("../fonts/3ada9815c06d2619d52d16a5601c96b2-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




*, *::after, *::before {
    box-sizing:border-box;  
}

body {
    margin:0;
    font-family: 'early_gameboyregular', Arial, sans-serif;
}





/*This section is used to make the the background move*/

body {
    position: absolute;
    display: flex;
    place-content: center;
    overflow: hidden;
    background-image: url("../images/ghosthouse.png");
    animation: move 40s linear infinite;
}

@keyframes move {
    0% {background-position:top left}
    100% {background-position:top right}
}






/*The article code under this text styles the bars connected to the ghosts*/

article ul{
    background: rgb(39,23,98);
    background: linear-gradient(90deg, rgba(39,23,98,1) 22%, rgba(28,15,74,1) 54%, rgba(39,23,98,1) 87%);
    width: 6em;
    height:1em;
    border: 0.08em solid #a188ff;
    box-shadow: 5% #0b0036;
    color: white;
    font-family: arial;
}

button:not([disabled]) {
    cursor:pointer;
}

    
article button{
    display: flex;
    padding-left: 1em;
    z-index: -2; 
    background-color: transparent;
    border:none;

}
article {
    z-index: -2;
}


article:nth-of-type(1){
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 20em;
    left: 40%;
    animation: float0 10s linear infinite;
}

article img:nth-of-type(1){
    display: flex;
    flex-direction: column;
    width:5em;
}

article:nth-of-type(2){
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 0;
    left:0;
    animation: float1 10s linear infinite;
}
  
article img:nth-of-type(2){
    display: flex;
    flex-direction: column;
    width:5em;
}

article:nth-of-type(3){
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 0;
    left: 0;
    animation: float2 10s linear infinite;
}

article img:nth-of-type(3){
    display: flex;
    flex-direction: column;
    width:5em;
}


article:nth-of-type(4){
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 50;
    left: 0;
    animation: float3 10s linear infinite;
}


article img:nth-of-type(4){
    display: flex;
    flex-direction: column;
    width:5em;
}


article:nth-of-type(5){
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 0;
    left: 0;
    animation: float4 10s linear infinite;
}


article img:nth-of-type(5){
    display: flex;
    flex-direction: column;
    width:5em;
}







/*This is the code that styles the nav/header*/

header{
    display:flex;
    justify-content: center;
    width: 100vw;
}



nav {
    display: flex;
    align-items: center;
    height: 10vh;
}

nav p{
    padding: 0 0.5em;
    margin: 0;   
   
}

p:nth-of-type(3){ 
    font-size: 3em; 
}




/*This is the code for the flashlight effect*/




FLASHLIGHT EFFECT
:root {
    cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
}

:root:before {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  )
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    --color-text:white;
    --color-buttons:#D62B2B;

}

p {
  color: var(--color-text);
}

/*p kleur rood gemaakt als test niet vergeten aan te passen naar wit*/








/*These are the keyframes used to make the ghosts float*/


@keyframes float0 {
    0% {transform:translate(-12vw, 40vh)}
    30% {transform:translate(15vw, 40vh)}
    40% {transform:translate(20vw, 40vh)}
    60% {transform:translate(60vw, 70vh)}
    80% {transform:translate(80vw, 40vh)}
    100% {transform: translate(100vw, 80vh)}
}

@keyframes float1 {
    0% {transform:translate(-12vw, 60vh)}
    20% {transform:translate(10vw, 60vh)}
    40% {transform:translate(40vw, 60vh)}
    60% {transform:translate(50vw, 60vh)}
    80% {transform:translate(70vw, 60vh)}
    100% {transform: translate(100vw, 70vh)}
}

@keyframes float2 {
    0% {transform:translate(-4vw, 2vh)}
    20% {transform:translate(12vw, 70vh)}
    50% {transform:translate(45vw, 70vh)}
    60% {transform:translate(60vw, 70vh)}
    80% {transform:translate(80vw, 70vh)}
    100% {transform: translate(100vw, 40vh)}
}

@keyframes float3 {
    0% {transform:translate(-10vw, 20vh)}
    20% {transform:translate(13vw, 20vh)}
    60% {transform:translate(25vw, 20vh)}
    60% {transform:translate(60vw, 20vh)}
    80% {transform:translate(40vw, 20vh)}
    100% {transform: translate(100vw, 20vh)}
}

@keyframes float4 {
    0% {transform:translate(-10vw, 30vh)}
    20% {transform:translate(16vw, 35vh)}
    40% {transform:translate(20vw, 40vh)}
    60% {transform:translate(30vw, 45vh)}
    80% {transform:translate(40vw, 50vh)}
    100% {transform: translate(100vw,60vh)}
}


/* from this point starts the general styling of the sections*/

section:not(:first-child){
  width:40%;
  background-color:whitesmoke;
  position: absolute;
  top: 10vh;
  left:50%;
  right:50%;
  transform: translateX(-50%);
  display:none;
  z-index: 10;
  padding: 2rem;
  border-radius:0.2em;
  flex-direction: column;
  height: auto;
}



section p:not(:first-child){
font-family: 'robotoregular', Arial, sans-serif;
color: black;
font-weight: lighter;
}



/*from this point starts the styling of the buttons in the section*/
section:nth-of-type(2) button {
    background-color: #D62B2B;
    width: 20%;
    margin: auto;
    border-color:#910101;
    transition: color 0.4s linear;
}

section:nth-of-type(2) button:hover{
background-color: #910101;
    
}


section:nth-of-type(2) button:active{
background-color: background: rgb(201,21,21);
background: radial-gradient(circle, rgba(201,21,21,1) 0%, rgba(89,2,2,1) 100%);

}


section:nth-of-type(3) button {
    background-color: #D62B2B;
    width: 20%;
    margin: auto;
    border-color:#910101;
    transition: color 0.4s linear;
}

section:nth-of-type(3) button:hover{
background-color: #910101;
    
}


section:nth-of-type(3) button:active{
background-color: background: rgb(201,21,21);
background: radial-gradient(circle, rgba(201,21,21,1) 0%, rgba(89,2,2,1) 100%);

}



section:nth-of-type(4) button {
    background-color: #D62B2B;
    width: 20%;
    margin: auto;
    border-color:#910101;
    transition: color 0.4s linear;
}

section:nth-of-type(4) button:hover{
background-color: #910101;
    
}


section:nth-of-type(4) button:active{
background-color: background: rgb(201,21,21);
background: radial-gradient(circle, rgba(201,21,21,1) 0%, rgba(89,2,2,1) 100%);

}

section:nth-of-type(5) button {
    background-color: #D62B2B;
    width: 20%;
    margin: auto;
    border-color:#910101;
    transition: color 0.4s linear;
}

section:nth-of-type(5) button:hover{
background-color: #910101;
    
}


section:nth-of-type(5) button:active{
background-color: background: rgb(201,21,21);
background: radial-gradient(circle, rgba(201,21,21,1) 0%, rgba(89,2,2,1) 100%);

}



section:nth-of-type(6) button {
    background-color: #D62B2B;
    width: 20%;
    margin: auto;
    border-color:#910101;
    transition: color 0.4s linear;
}

section:nth-of-type(6) button:hover{
background-color: #910101;
    
}


section:nth-of-type(6) button:active{
background-color: background: rgb(201,21,21);
background: radial-gradient(circle, rgba(201,21,21,1) 0%, rgba(89,2,2,1) 100%);

}


/*End styling buttons of the section*/


main section.show{
    display:flex;
}

